.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    margin-bottom: 0;
    position: relative;
    background-image: url('/assets/img/Frame63-new.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.footer-logo {
    width: 75px;
    height: 23px;
    margin-bottom: 15px;
    margin-left: 0;
    margin-right: auto;
}
.copyright{
    text-align: right;
    font-size: 14px;
    max-width: 270px;
    text-transform: capitalize;
}
.footer .docs {
    position: relative;
    margin-bottom: 0;
    margin-top: 10px;
    font-size: 14px;
    cursor: pointer;
    color: #fff;
}
.docs-policy::after {
    content: '';
    position: absolute;
    top: 0px;
    left: -25px;
    background-image: url('/assets/img/icons/files.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 18px;
    height: 18px;
}
.docs-disclaimer::after,

.docs-terms::after {
    content: '';
    position: absolute;
    top: 0px;
    left: -25px;
    background-image: url('/assets/img/icons/carbon_rule.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 18px;
    height: 18px;
}

@media screen and (max-width: 991px) {
    .footer>div:first-child {
        margin-left: 25px;
    }
    .footer>div:nth-child(2) {
        margin-right: 0;
    }
    .footer div:last-child {
        margin-right: 25px;
    }
}
@media screen and (max-width: 576px) {
    .footer {
        padding: 24px 0;
        align-items: flex-start;
        flex-direction: column;
        background-image: url('/assets/img/footer-m.png');
    }
    .copyright{
        margin-left: 25px;
        text-align: left;
    }
   
}